.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

/* Webkit Browsers (Chrome, Safari) and Edge */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2c2c2c;
    /* Dark background for the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #666666;
    /* Darker gray for the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
    /* Slightly darker on hover */
}

/* Hiding scrollbar buttons in WebKit browsers (including Edge) */
::-webkit-scrollbar-button {
    display: none;
}

/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #666666 #2c2c2c;
}

/* For Internet Explorer and Edge */
body {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}